{
  "presets": ["next/babel", "@babel/preset-typescript"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
